@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


/* Navigation Styles */

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  background-color: #cafdff; 
}

a{
  color: black;
  font-size: 20px; 
  font-weight: 700;
}

.logo {
  width: 20%;
}

ul {
  display: flex;
}

li{
  list-style-type: none;
  padding-left: 16px;
  margin: 0 20px;
}

/* Header Styles */

header {
  background-color: #eadcff;
  padding: 24px;
  height: calc(100vh-70px);
  display: flex;
  justify-content: center;
  align-items: center; 
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #05c7cf;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

#about,
#discord,
#contact,
#footer
{
  padding: 48px 0;
}

/* About Section */

#about {
  background-color:#f8ffdc;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;  
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.about__image--wrapper {
  width: 40%;
}

img {
  width: 100%;
}

.section__description--wrapper {
  width: 60%;
}

.about__image--wrapper,
.section__description--wrapper {
  padding: 0 24px;
  width: 60%;
}

.section__description--paragraph {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3%;
}

/*Discord Section*/

#discord {
  padding: 48px 0;
  background-color: #cefeff;
}


/* Contact Section */

#contact {
  background-color: #dce9ff;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}

form {
  width:100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input, textarea {
  padding: 6px 12px;
  margin-bottom: 24px;
  font-size: 20px;
}

/* Footer Styles */

footer {
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 32px;
}

.footer__link {
padding: 0 16px;
}